extends layout

block content
  h1= title
  form(action="" id="log-in-form" method="post") 
    label(for="username") Username: 
      input(type="text" name="username")
    label(for="password") Password: 
      input(type="password" name="password")
    input(type="submit" value="Log In")
